<!DOCTYPE html>
<html lang="en">
<head>
  <title>Climbing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<div id="app">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="../index.html"><img src="../data/indexData/logo-36.png" style="width:40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#experience">Experience</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="Hobbies.html">Hobbies</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="climbing.html">Climbing</a>
            <a class="dropdown-item" href="Hobbies.html#skiing">Skiing</a>
            <a class="dropdown-item" href="Hobbies.html#whitewater">Whitewater</a>
            <a class="dropdown-item" href="Hobbies.html#mountain-biking">Mtn. Biking</a>
            <a class="dropdown-item" href="Hobbies.html#hiking">Hiking</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#leadership">Leadership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#languages">Languages</a>
        </li>
      </ul>
      <button class="btn btn-success ml-auto mr-1"><a href="../data/Stuart_Hopkins_Resume.pdf" download style="color:inherit;">Download
      Resumé</a></button>
    </div>
  </nav>

  <div id="welcome">
    <div class="jumbotron jumbotron-fluid sectionHeader d-flex align-items-center"
         style="background-image: url('../data/hobbiesData/climbing/welcome.JPG');">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto align-items-center">
          <div id="welcomeCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item py-5 active">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card-transparent">
                      <div class="card-body sectionHeaderTitle">
                        <p class="card-title display-3">Climbing</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <div class="card-body">
                        <h1 class="card-title">Climbing Bio</h1>
                        <p class="card-body">
                              Stu Hopkins<br>
                              {{ climber.home }}<br>
                              21 years old - Male<br>
                              <br>
                              Climbing since Dec 17, 2017<br>
                              <br>
                              Hardest redpoint sport: {{ climber.sport }}<br>
                              Hardest redpoint trad:  {{ climber.trad }}<br>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <a class="carousel-control-prev" href="#welcomeCarousel" data-slide="prev">
                  <span><img src="../data/Arrows/leftArrow.png"></span>
              </a>
              <a class="carousel-control-next" href="#welcomeCarousel" data-slide="next" data-toggle="popover" title="Click Me!"
                      data-content="Click here to see more information about Stuart's education">
                  <span><img src="../data/Arrows/rightArrow.png"></span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="ticks" class="container">
  <div class="card" style="margin-top: 50px;">
    <div class="card-header display-4">Recent Climbs</div>
      <div class="card-body ">
        <div class="card-deck">
          <div class="card card-inner" :id="tick['id']" v-for="tick in tickList">
            <image class="card-image-top rounded image-card" :src="tick['img']"></image>
            <div class="card-body">
              <h4>{{ tick['name'] }}</h4>
              <h6>{{ tick['city'] }}, {{ tick['state'] }}</h6>
              <p>Stars: {{ tick['stars'] }}<br>
                  Grade: {{ tick['grade'] }}<br>
                  Notes: "{{ tick['notes'] }}"
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  <div id="to-do" class="container">
    <div class="card" style="margin-top: 50px;">
        <div class="card-header display-4">Top of to-do List</div>
        <div class="card-body ">
            <div class="card-deck">
                <div class="card card-inner" :id="toDo['id']" v-for="toDo in toDoList">
                    <image class="card-image-top rounded image-card" :src="toDo['img']"></image>
                    <div class="card-body">
                        <h4>{{ toDo['name'] }}</h4>
                        <h6>{{ toDo['city'] }}, {{ toDo['state'] }}</h6>
                        <p>Stars: {{ toDo['stars'] }}<br>
                            Grade: {{ toDo['grade'] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="loganWeather">
    <div class="jumbotron jumbotron-fluid sectionHeader d-flex align-items-center"
         style="background-image: url('../data/hobbiesData/climbing/loganCanyon.JPG');">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto align-items-center">
          <div id="loganCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item py-5 active">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card-transparent">
                      <div class="card-body sectionHeaderTitle">
                        <p class="card-title display-3">Logan Weather</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lon=-111.7858870921032&lat=41.742011899494855#.XZdtL0ZKhPY">First Dam (Elev. 4446')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=41.742&lon=-111.7859&wfo=SLC&zcode=UTZ001&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lon=-111.64177992328959&lat=41.78160706047629#.XZdtYUZKhPZ">Right hand fork turnoff (Elev. 4446')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=41.7816&lon=-111.6418&wfo=SLC&zcode=UTZ007&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#loganCarousel" data-slide="prev">
              <span><img src="../data/Arrows/leftArrow.png"></span>
            </a>
            <a class="carousel-control-next" href="#loganCarousel" data-slide="next" data-toggle="popover" title="Click Me!"
               data-content="Click here to see more information about Stuart's education">
              <span><img src="../data/Arrows/rightArrow.png"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="northernUtahWeather">
    <div class="jumbotron jumbotron-fluid sectionHeader d-flex align-items-center"
         style="background-image: url('../data/hobbiesData/climbing/northwest.jpg');">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto align-items-center">
          <div id="NorthernUtahCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item py-5 active">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card-transparent">
                      <div class="card-body sectionHeaderTitle">
                        <p class="card-title display-3">Northern Utah and Southern Idaho Weather</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4"
                         href="https://forecast.weather.gov/MapClick.php?lon=-111.74626510807336&lat=40.57210326761279#.XZQqREZKhPY">Little Cottonwood (Elev. 6855')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=40.5721&lon=-111.7463&wfo=SLC&zcode=UTZ008&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lat=42.0671&lon=-113.7057#.XZQq40ZKhPY">City of Rocks (Elev. 5325')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=42.0671&lon=-113.7057&wfo=PIH&zcode=IDZ056&gset=18&gdiff=3&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#NorthernUtahCarousel" data-slide="prev">
              <span><img src="../data/Arrows/leftArrow.png"></span>
            </a>
            <a class="carousel-control-next" href="#NorthernUtahCarousel" data-slide="next" data-toggle="popover" title="Click Me!"
               data-content="Click here to see more information about Stuart's education">
              <span><img src="../data/Arrows/rightArrow.png"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="icWeather">
    <div class="jumbotron jumbotron-fluid sectionHeader d-flex align-items-center"
         style="background-image: url('../data/hobbiesData/climbing/southwest.JPG');">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto align-items-center">
          <div id="creekCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item py-5 active">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card-transparent">
                      <div class="card-body sectionHeaderTitle">
                        <p class="card-title display-3">South Eastern Utah Weather</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lon=-109.60422149597449&lat=38.115198842704416#.XZO3aEZKhPZ">Indian Creek (Elev. 5125')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=38.1152&lon=-109.6042&wfo=GJT&zcode=UTZ029&gset=18&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lon=-109.55022247221336&lat=38.575434475623666#.XZO2cEZKhPY">Moab (Elev. 4265')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=38.5754&lon=-109.5502&wfo=GJT&zcode=UTZ027&gset=18&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lon=-111.27536873404435&lat=39.29296098204259#.XZQji0ZKhPY">Joe's Valley (Elev. '6998')</a>
                      <img class="card-body card-weather-img"
                           src="https://forecast.weather.gov/meteograms/Plotter.php?lat=39.293&lon=-111.2754&wfo=SLC&zcode=UTZ517&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#creekCarousel" data-slide="prev">
              <span><img src="../data/Arrows/leftArrow.png"></span>
            </a>
            <a class="carousel-control-next" href="#creekCarousel" data-slide="next" data-toggle="popover" title="Click Me!"
               data-content="Click here to see more information about Stuart's education">
              <span><img src="../data/Arrows/rightArrow.png"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="zionWeather">
    <div class="jumbotron jumbotron-fluid sectionHeader d-flex align-items-center"
         style="background-image: url('../data/hobbiesData/climbing/zion.jpg');">
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto align-items-center">
          <div id="zionCarousel" class="carousel slide w-100" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item py-5 active">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-10 align-center">
                    <div class="card-transparent">
                      <div class="card-body sectionHeaderTitle">
                        <p class="card-title display-3">South Western Utah Weather</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4"
                         href="https://forecast.weather.gov/MapClick.php?lon=-112.9738944118896&lat=37.21905851393882#.XZQk7kZKhPY">Zion
                        National Park (Elev. 4865')</a>
                      <img class="card-body card-weather-img" src=https://forecast.weather.gov/meteograms/Plotter.php?lat=37.2191&lon=-112.9739&wfo=SLC&zcode=UTZ019&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6"">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="row d-flex justify-content-center card-weather">
                  <div class="col-sm-10 align-center">
                    <div class="card card-overlay">
                      <a class="card-header display-4" href="https://forecast.weather.gov/MapClick.php?lat=37.1098&lon=-113.5833#.XZQlekZKhPY">St. George (Elev. 2872')</a>
                      <img class="card-body card-weather-img" src="https://forecast.weather.gov/meteograms/Plotter.php?lat=37.1098&lon=-113.5833&wfo=SLC&zcode=UTZ019&gset=30&gdiff=10&unit=0&tinfo=MY7&ahour=0&pcmd=11011111101000000000000000000000000000000000000000000000000&lg=en&indu=1!1!1!&dd=&bw=&hrspan=48&pqpfhr=6&psnwhr=6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#zionCarousel" data-slide="prev">
              <span><img src="../data/Arrows/leftArrow.png"></span>
            </a>
            <a class="carousel-control-next" href="#zionCarousel" data-slide="next" data-toggle="popover" title="Click Me!"
               data-content="Click here to see more information about Stuart's education">
              <span><img src="../data/Arrows/rightArrow.png"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="climbing.js"></script>

</div>
</body>
</html>

