.card {
    min-width: 300px;
    margin-bottom: 50px;
}

.card-overlay {
    color: WHITESMOKE;
    background-color: rgba(24, 27, 32, .9);
}

.card-weather {
    height: 95vh;
}

.card-weather-img {
    object-fit: contain;
    height: 75vh;
}

.carousel-control-next, .carousel-control-prev, .carousel-arrows{
    opacity: 1.0;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.display-3 {
    color:WHITESMOKE;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 20px black;
}

@media only screen and (max-width: 720px) {
    .display-3 {
        font-size: 10vw;
    }
}

.image-card {
    width: 100%;
    height: auto;
}

.sectionHeader{
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    max-width: 100%;
    height: 100vh;
    padding: 0px !important;
    margin: 0px !important;
}

@media (hover: none) {
    .sectionHeader{
        background-attachment: scroll;
    }
}

.sectionHeaderPad{
    background-size: cover;
    background-position: center top;
    background-attachment: scroll; /* Is this the same as it was before or is this simpler? */
    max-width: 100%;
    height: 100vh;
}

.sectionHeaderTitle {
    text-align: center;
    color: WHITESMOKE;
    text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
}


